<!DOCTYPE html>
<html>
<head>
	<meta charset="urf-8">
	<link rel="stylesheet" type="text/css" href="micss.css">
	
</head>
<body style="background:#86B404">
<font color="black">
<DIV ALIGN=center><h1 style="font-size:50px ">Laboratorio Base de Datos</h1></DIV>
<br>
<br>
<!--
<DIV ALIGN=center> 
<DIV ALIGN=justify> 
#<%#@busqueda.each do |tweet| %>
  <tr>
	<ul>
  <li><#%= tweet.text %></li>
  <li><#%= tweet.user.name %></li>
  <li><#%= tweet.lang %></li>
  <li><#%= tweet.user.location %></li>
  <br>
	</ul>
<#% end %>
</DIV>
</DIV>
-->
<ul>
  <a href="/textos">Ver Textos</a>
  <br>
  <a href="/tusuarios">Ver Usuarios</a>
  <br>
  <a href="/pais#index">Ver Paises</a>
</ul>

</font>
</body>
</html>


